#tooltip {
    color: white;
    opacity: .9;
    background: #FFFFFF;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

path.group {
    fill-opacity: .8;
}

path.chord {
    fill-opacity: .8;
    stroke: #FFFFFF;
    stroke-width: .25px;
}

#circle:hover path.fade {
    display: none;
}